html {
	font-family: sans;
}

th {
	text-align: left;
}

td {
	border: 1px solid #000000;
}

tr:hover {
	background: #6F94FF;
}

.paragraph {
	width: 750px;
	margin: 10px;
}

.update-note {
	font-size: 12px;
	color: #808080;
}

ul {
	margin: 2px;
}

code {
	padding: 2px 4px;
	padding-bottom: 0px;
	color: #000000;
	background-color: #f6f6f6;
	border-radius: 3px
}
